body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #eee ;
    background-color: transparent;
    width: 100%;
    height: 70px;
    z-index: 1;
    transition: background 800ms ease;
}

.navbar.color {
    background:#eae2e275;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
}
.nav {
    display: flex;
    justify-content: right;
    list-style: 15%;
    list-style-type: none;
}

.logo {
    flex: 1 1 auto;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
}

figure .image {
    width: 100%;
    height: 70vh;
}
a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #000;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#home { overflow: hidden; }
    div#home figure img { width: 20%; float: left; }
    div#home figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 15s slidy infinite; 
    }
    

.about-area, .port-area, .services-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.text-part {
    width: 80%;
    height: 50%;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    line-height: 50px; 
}

.about-area, .services-area {
    background: #fefefe;
}

.port-area {
    background: #262626;
    color: wheat;
}

html {
    scroll-behavior: smooth;
}

.contact-area {
    position: relative;
    background: wheat;
    color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.contact-area img {
    width: 20%;
    height: 35%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.contact img {
    width: 60%;
    height: 40px;
}